<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS</title>
    <link href="style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <header>
        <h1>Header</h1>
    </header>
    <div class="container">
        <div class="list-blog">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi sunt eveniet maxime magni in, nostrum
                facilis, temporibus, quam facere sint est blanditiis harum dicta. Tempore suscipit ut hic. Deleniti,
                qui.</p>
        </div>
        <div id="app">
            <div class="cart">Giỏ hàng ({{ cardNumber }})</div>
            <div class="product">
                <div class="product-image">
                    <div class="image">
                        <img alt v-bind:src="getProductDetailSelected.image">
                    </div>
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a v-bind:href="url" target="target">{{ title }}</a>
                    </h3>
                    <p class="brand">Thương hiệu: {{ brand }}</p>
                    <p class="quantity" v-if="getProductDetailSelected.quantity > 0">Còn lại: {{ getProductDetailSelected.quantity }} Sản phẩm</p>
                    <p class="quantity" v-else> Sản phẩm đã hết hàng </p>

                    <div class="wrapper-price">
                        <div class="final-price">{{ finalPriceFormat }}</div>
                        <div class="origin-price">{{ originalPriceFormat }}</div>
                        <div class="sale-price">-{{ saleFormat }}%</div>
                    </div>
                    <div class="wrapper-color">
                        <div class="text">Màu sắc</div>
                        <div class="list-color">
                            <p class="color-text">{{ getProductDetailSelected.textColor }}</p>
                            <ul>
                                <li v-bind:class="classActive(item.id)" v-on:click="handleSelectProduct(item.id)" v-for="(item, index) in productDetails" v-bind:key="`${index}-${item.id}`">
                                    <img alt="color" v-bind:src="item.image"></li>
                                <!-- <li><img src="./images/red.jpg" alt="color"></li> -->
                            </ul>
                        </div>
                    </div>
                    <button class="add-to-cart" v-on:click="handleAddToCart()">Add to cart</button>
                </div>

            </div>
            <div class="description">
                <ul class="extra-info">
                    <li v-for="item in listDesc">{{ item }}</li>
                </ul>
                <!-- v-html -->
                <!-- {{ testDescription }} -->
                <div v-html="description"></div>
            </div>

        </div>
    </div>
    <footer>
        <h1>Footer</h1>
    </footer>
</body>
<script src="main.js"></script>

</html>